 /*--------------*\
|    Font Setup    |
 \*--------------*/

@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Thin';
    src: url('fonts/FiraSans-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans ThinItalic';
    src: url('fonts/FiraSans-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans ExtraLight';
    src: url('fonts/FiraSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans ExtraLightItalic';
    src: url('fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('fonts/FiraSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans LightItalic';
    src: url('fonts/FiraSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Medium';
    src: url('fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans MediumItalic';
    src: url('fonts/FiraSans-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans SemiBold';
    src: url('fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans SemiBoldItalic';
    src: url('fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans BoldItalic';
    src: url('fonts/FiraSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans ExtraBold';
    src: url('fonts/FiraSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans ExtraBoldItalic';
    src: url('fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans Black';
    src: url('fonts/FiraSans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans BlackItalic';
    src: url('fonts/FiraSans-BlackItalic.ttf') format('truetype');
}

 /*--------------*\
|  End Font Setup  |
 \*--------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: #fc36c2;
    border: 1px solid black;
    width: 100vw;
    height: 75px;
    z-index: 1;
}

header h1 {
    font-family: 'Fira Sans', monospace;
    color: white;
    margin: 15px auto;
}

.main {
    position: absolute;
    left: 15vw;
    top: 75px;
    color: black;
    border-left: 1.5px inset rgba(40, 40, 40, .3);
    z-index: 2;
    overflow: hidden;
    height: 100vh;
    width: 84vw;
    overflow-y: scroll;
}

.main h2 {
    font-family: 'Fira Sans', monospace;
}

.sidenav {
    font-family: 'Fira Sans SemiBold', monospace;
    text-align: center;
    align-content: left;
    position: sticky;
    top: 74px;
    height: 100vh;
    width: 15vw;
}

.mainnav {
    border: none !important;
    position: relative;
}

.sidenav h3 {
    border: 1.5px solid rgba(40, 40, 40, .3);
    border-radius: 7.5px;
    padding: 5px 15px !important;
    cursor: pointer;
    transition: background-color .5s;
}

.sidenav h3:hover {
    transition: background-color .7s;
    background-color:rgba(40, 40, 40, .05);
}

.sidenav ul {
    list-style-type: none;
}

.sidenav ul li{
    padding: 1px 15px;
    border: 1.5px solid rgba(40, 40, 40, .3);
    border-radius: 7.5px;
    cursor: pointer;
}

.sidenav a{
    text-decoration: none;
    color: #fc36c1a6;
    transition: color .7s;
}

.sidenav ul li ul li:hover {
    background-color: rgba(88, 88, 88, .05);
}

.sidenav ul li a:hover {
    transition: color 1s;
    color: #F6B574;
}


.section {
    padding: 15px 15px;
}

.section h2 {
    font-family: 'Fira Sans SemiBold', monospace;
    padding-bottom: 40px;
}

.section h3 {
    font-family: 'Fira Code', monospace;
    padding: 2px 4px;
    background-color: lightgrey;
    border-radius: 5px;
    display: inline-block;
}

.section h4 {
    font-family: 'Fira Sans';
    padding: 10px 0;
    width: 45vw;
}

.part {
    padding-bottom: 40px;
}

.code {
    font-family: 'Fira Code', monospace;
    padding: 5px 0 5px 10px;
    color: white;
    background-color: #000a18;
    border-radius: 10px;
    width: 50vw;
    font-size: .9vw;
    overflow-x: scroll;
}

.focus {
    color: #ea171e
}

.numbering {
    color: rgba(80, 80, 80, .8)
}

.element {
    color: #1786D0;
}

.attribute {
    color: #00c3ff;
}

.string {
    color: #ffbf00;
}